@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  height:100vh;
  width:140vw;
  font-size:8vw;
  line-height:8vh;
  background-color:#C8E7FF;
  font-family: 'Rubik', sans-serif;
}
a{
  text-decoration:none;
  color:#369B9A;
}
.navbar{
  background-color:#D8BBFF;
   width:125vw;
}
nav ul{
  list-style:none;
  display:flex;
  justify-content:space-around;
}
li{
  margin-left:5vw;
  margin-right:5vw;
}


.dropmenu{
     display:inline-block;
     position:relative;
    
}
.content{
    display:none;
    position:relative;
    z-index:1;
    width:55vw;
}
.dropmenu:hover .content{
    display:block;
    background-color:#C0FDFF;
    border-radius:8px;
    position:absolute;
    white-space:nowrap;
    padding:3vw 0vw 0vw 3vw;
}
hr{
  border:none;
  width:50vw;
  height:0.3vh;
  background-color:#48CAE4;
}

header{
  background-image:
  url("Imagefolder/Profile-background.png");
  background-size:cover;
  background-repeat:no-repeat;
}

header p{
    text-align:justify;
    } 

h1, h2{
  color:#4EA8DE;
}

.profile-image img{
  width:45vw;
  height:25vh;
  border:0.5vw solid #E5B3FE;
  margin-left:30vw;
  border-radius:60vw;
  background-size:cover;
  background-color:#F5FFFA;
  animation:respond 5s ease-in  infinite                                          alternate;
}
@keyframes respond{
   0%{
     border-radius:6vw;
   }
  
  80%{
    filter:blur(2px);
  }
  100%{
    transform:rotate(10deg);
  }
}

#project p{
  
  text-align:center;
}
#project a{
  border-radius:50vw;
}
#project img{
  width:92vw;
  height:40vh;
 
  
  
}
#project .w-image{
  background-color:#CAF0F8;
  margin-bottom:10vh;
  margin-left:8vw;
  border-radius:5vw;
  box-shadow:2vw 0vw 2vw 0.5vw #64678361;
}

#project img{
  border-radius:2vw;
}
#diploma{
  display:flex;
  flex-direction:row;
  overflow:auto;
}
#diploma img{
  margin-left:1vw;
  border-radius:1vw;
  height:30vh;
  width:95vw;
}
#profile{
  background-color:#CAF0F8;
  border-radius:10px;
}
#profile  img{
  width:30vw;
  height:20vh;
  margin-left:10vw;
  border-radius:5vw;
}
/*
hr:nth-child(3){
  border:none;
  width:100vw;
  height:0.5vh;
}   */
.disclaim, .copy{
  font-family: 'Righteous', cursive;
}
.disclaim img{
  width:20vw;
  height:10vh;
  border-radius:100vw;
  margin-left:30vw;
}
.foot{
  margin-top:5vh;
  border-left:1vw solid #0096C7;
  padding-left:3vw;
}
